/* Generic webpage styles*/
body {
  font-family: sans-serif;
  font-size: 15px;
}

/* Let's get this party started */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: rgb(128 16 16);
  -webkit-box-shadow: inset 0 0 6px rgb(128 16 16);
}
::-webkit-scrollbar-thumb:window-inactive {
  background: rgb(128 16 16);
}

/* Header-css */
#header {
  background-color: rgb(128 16 16);
  text-align: center;
  padding: 10px;
  border-bottom: 1px solid rgb(8 8 8);
  color: #fff;
}
#header h1 {
  font-size: 30px;
  font-family: cursive;
}
#header > .features {
  padding: 5px;
  font-size: 8px;
  margin-top: 5px;
  text-decoration: underline;
}
#header > .features > span:first-child {
  border-right: 1px solid #000;
  margin-right: 5px;
  padding-right: 10px;
}

/* content css */
#content {
  background-image: url('../dirt-texture.png');
  background-size: contain;
  background-color: rgb(29 29 29);
  height: 100vh;
}
#video-box {
  display: flex;
  justify-content: space-evenly;
  padding: 15px;
}

/** Footer Styles*/
#footer {
  background-color: #000;
  text-align: center;
  text-align: center;
  color: rgb(255, 255, 255);
  padding: 10px;
  font-size: 13px;
  border-top: 1px solid rgb(128 16 16);
}

/*==== Fix for mobile devices  ====*/

@media only screen and (max-width: 600px) {
  #video-box {
    display: block;
    justify-content: initial;
    padding: 0px 10px;
  }
  #header h1 {
    font-size: 18px;
    font-family: cursive;
  }
  #header {
    padding: 5px;
  }
  #header > .features {
    margin-top: 5px;
  }
  #content {
    background-image: none;
    height: 100%;
    padding-bottom: 10px;
  }
}
